In [62]:
import pandas as pd

In [63]:
dataFrame=pd.read_excel("Book1.xlsx")

In [64]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0        Ali   100  35.0    Yazılım
1    Hüseyin   150  30.0  Pazarlama
2      Faruk   200  40.0        NaN
3     Ebuzer   100  25.0    Yazılım
4     Miktat    50   NaN    Yazılım
5     Selman    40  20.0  Pazarlama
6      Malik   250  45.0    Yazılım

In [65]:
doluDataFrame=dataFrame.dropna()

In [66]:
doluDataFrame

  Unnamed: 0  Maas   Yas  Departman
0        Ali   100  35.0    Yazılım
1    Hüseyin   150  30.0  Pazarlama
3     Ebuzer   100  25.0    Yazılım
5     Selman    40  20.0  Pazarlama
6      Malik   250  45.0    Yazılım

In [1]:
doluDataFrame.to_excel("YeniBook.xlsx")

NameError: name 'doluDataFrame' is not defined

In [2]:
## read_excel
## to_excel

## read_csv
## to_csv

In [3]:
a="sdfg"

In [8]:
Numeric(a)

NameError: name 'Numeric' is not defined